@use "../abstracts" as *;

.btn {
  cursor: pointer;
  padding: 0.85rem 1.85rem;
  border-radius: 1.6rem;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  &:hover {
    border-color: clr(neutral, light);
    background-color: transparent;
    color: clr(neutral, light);
  }
}