$colors: (
  neutral: (
    light: hsl(0, 0%, 100%),
    normal: hsl(0, 0%, 95%),
  ),
  brand: (
    dark: hsl(30, 77%, 52%),
  ),
  primary: (
    normal: hsl(185, 98%, 23%),
    dark: hsl(179, 100%, 13%),
  ),
);
